[Unit]
Description=Run a system-wide scan for viruses using clamscan

[Service]
Type=simple
ExecStart=/usr/bin/clamscan --recursive=yes --infected --suppress-ok-results --exclude-dir='^/sys|^/proc|^/dev' /

